*.pdf
*.o
*.pyc
*.zip
*.npy
*.npy
*.png
*.drawio
*.apn
*.dat
*.hea
*.qrs
*.xws
*.shtml
*ANNOTATORS
*RECORDS
*.c
*.csv

src/data/apnea-ecg-database*
src/data/gait-in-parkinsons*
src/data/UCI\ HAR\ Dataset/test/*
src/data/UCI\ HAR\ Dataset/train/*
UCI\ HAR\ Dataset/*
src/data/occupancy*

*__pycache__*
